.btnLogin {
  background-color: Transparent;
  border: none;
  outline: none;
  padding: 16px 20px;
  font-weight: 500;
  margin-left: -1em;
}
.btnLogin:hover {
  background-color: Transparent;
  color: #44a192;
}

.btnSignup {
  background-color: Transparent;
  border: 1px solid white;
  border-radius: 8px;
  padding: 16px 20px;
  font-weight: 500;
}
.btnSignup:hover {
  background-color: #44a192;
}

.JaycoinIcon {
  margin-right: 0.2em;
  margin-bottom: 0.4em;
}

.NavBarButtons {
  margin-top: 1em;
  color: white;
  font-weight: 500;
  outline: none;
  background-color: Transparent;
  margin-right: 1.5em;
}

.divider {
  margin-right: 1.5em;
  margin-top: 1.5em;
  color: #6d747b;
  font-weight: 500;
  display: inline-block;
  transform: scale(1.2, 1.5);
}
