html {
  scroll-behavior: smooth;
}
body {
  font-family: "Titillium Web", sans-serif;
  font-size: normal;
  font-weight: 400;
  line-height: 1.8em;
  font-size: 16px;
}

/*
Home Page
*/
.btnLogin {
  background-color: Transparent;
  border: none;
  outline: none;
  padding: 16px 20px;
  font-weight: 500;
  margin-left: -1em;
  margin-top: 0.5em;
  display: inline-block;
}
.btnLogin:hover {
  background-color: Transparent;
}

.btnSignup {
  background-color: Transparent;
  border: 1px solid white;
  border-radius: 8px;
  padding: 16px 20px;
  font-weight: 500;
  color: white;
  margin-top: 0.5em;
  margin-right: 2em;
  display: inline-block;
}
.btnSignup:hover {
  background-color: rgb(12, 108, 242);
}

.JaycoinIcon {
  margin-right: 0.2em;
  margin-bottom: 0.4em;
  color: #44a192;
}

.NavBarButtons {
  margin-top: 0.5em;
  font-weight: 500;
  outline: none;
  background-color: Transparent;
  margin-right: 1.5em;
}

.divider {
  margin-right: 1.5em;
  margin-top: 1em;
  color: #6d747b;
  font-weight: 500;
  display: inline-block;
  transform: scale(1.2, 1.5);
}

.navBrand {
  margin-top: 0.5em;
}

.landing-intro {
  background-color: #144599;
  color: white;
  align-items: center;
  float: none;
  margin: 0 auto;
  flex-wrap: wrap;
}

.landing-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.landing-stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landing-learn {
  background-color: #fbfcff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-footer {
  background-color: #111d33;
}

.feature-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 50px 0px;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  padding: 3em 1em 1em 1em;
}

.intro-row {
  display: flex;
  flex-wrap: wrap;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.getWalletbtn {
  font-weight: 600;
  text-align: center;
  height: 3.5rem;
  color: white;
  opacity: 1;
  font-size: 1.25rem;
  background-color: rgb(12, 108, 242);
  padding: 0px 2rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  vertical-align: middle;
  z-index: 9999999;
}

.getWalletbtn:hover {
  color: white;
  text-decoration: none;
}

.webpImg {
  transform: scale(0.5, 0.5);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*
Register
*/
.registerBtns {
  color: white;
  text-decoration: none;
}
.registerBtns:hover {
  color: white;
  text-decoration: none;
}
.logoName {
  font-size: 28px;
}

.registerToLoginbtn {
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 15px;
}
.registerPage {
  background-color: rgb(13, 53, 120);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.autheader {
  background-color: rgb(13, 53, 120);
  color: white;
  padding: 20px 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
}

.registerform {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.authCard {
  width: 480px;
  padding: 40px;
  border-radius: 8px !important;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 2px 8px 0px;
}
.authCard label {
  font-weight: 500;
}

.authCard input {
  font-weight: 500;
  font-size: 400 13.3333px Arial;
  height: 48px;
  border: 1px solid rgb(223, 227, 235);
  border-radius: 4px;
  padding: 6px 12px;
}
.authCard input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 140px;
  height: 56px;
  font-weight: 600;
  font-size: 18px;
}

/*
Dashboard
*/
.balance-card {
  border-radius: 4px;
}
.balance-card-title {
  color: #494949;
  padding: 1em;
  border: 1px solid #d5d5d5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 4px 4px 0px 0px;
}
.balance-card-amount {
  color: #0e3578;
  padding: 1em;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}
.balance-card-button {
  background-color: transparent;
  color: rgb(12, 108, 242);
  padding: 1em;
  border: 1px solid #d5d5d5;
  border-radius: 0px 0px 4px 4px;
  outline: none;
  padding: 18px 24px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
}
.balance-card-button:hover {
  background-color: rgb(216, 235, 253);
}
.balance-card-button:focus {
  outline: 0;
}
.transactionc-btn {
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  color: rgb(13, 53, 120);
  border-radius: 4px;
  border: 1px solid rgb(204, 210, 222);
  padding: 0.5em;
}
.transactionc-btn:hover {
  background-color: rgb(216, 235, 253);
}

.wallet-card-button {
  background-color: transparent;
  color: rgb(12, 108, 242);
  padding: 1em;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  border-bottom: none;
  outline: none;
  padding: 18px 24px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
}
.wallet-card-button:hover {
  background-color: rgb(216, 235, 253);
}
.wallet-card-button:focus {
  outline: 0;
}
.recent-activity-card {
  color: #0e3578;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}
.dashboard-card {
  display: flex;
  flex-direction: column;
}
.tabs {
  width: 100% !important;
}
.tab-list {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.tab-s {
  list-style: none;
  margin-top: 1em;
  cursor: pointer;
}

.modal-style {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*
Smaller Screens
*/
@media (max-width: 479px) {
  .authCard {
    width: 90%;
  }
  .btnSignup {
    padding-right: 2em;
  }

  .autheader {
    display: flex;
    flex-direction: column;
  }
}
